html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.nombre-sitio span{
    color: #037bc0;
    padding-top: 100px;
   
}
.enlace {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #037bc0;
}
.sobre-nosotros {
    background-color: red;
    width: 500px;
   
    box-sizing: border-box;
    padding: 40px;
}

.sobre-ellos{
    background-color: blue;
    width: 500px;
   
}


/* */