html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  a{
      text-decoration: none;
      color: black;
  }
  img{
      max-width: 100%;
      background-repeat: no-repeat;
      display: block;
  }
/*Generales */
  .contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/*Nombre sitio */

.nombre-sitio{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.nombre-sitio span{
    color: #037bc0;
}

/*Navegacion */

.nav-principal{
    color: #e1e1e1;
padding: 50px 10px 30px 20px;
border-top: 1px solid #e1e1e1;
padding: 20px 0px 20px 0;


display: flex;
flex-direction: column;
align-items: center;
}
.nav-principal a{
    padding: 5px 0px 5px 0px;
}

@media (min-width: 480px){
   .nav-principal{
    padding-left:20px ;
    padding-right:20px ;
    flex-direction: row;
    justify-content: space-between;
   }
}

/*Imagen principal */

.hero {
 background-image: url(/Imagenes/principal.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 550px;
}

/* */

/*categoria */
.categorias h2{
  text-align: center;  
}

.contenedor{
    margin-top: 100px;
}

.categoria a{
display: block;
text-align: center;
padding: 2rem;
font-size: 20px;
}
.categoria a:hover{
    background-color: #037bc0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    }

.listado-categoria{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 2rem;
}
@media (min-width: 480px){
    .listado-categoria{
        display: flex;
        padding: 0px 5rem;
       
        
    }
    .listado-categoria a {
       text-justify : center;
    }
}


/* FOOTER*/
@media (min-width: 480px){
   .footer--categoria nav, .footer--nosotros nav,
   .footer--soporte nav
   {
       display: grid;
   }
  
}